:host {
  ::ng-deep .markdown {
    filter: var(--drop-shadow-light);
    &>p:last-child {
      margin-bottom: 0;
    }
  }

  &:has(.overdue)::after {
    content: '❗';
    position: absolute;
    top: 32px;
    right: -32px;
    font-size: 3rem;
    border-radius: 50%;
    z-index: -1;
  }
}

.nearly-overdue {
  box-shadow: var(--shadow-overdue);
}

.mat-mdc-card-content {
  color: inherit;
  margin-bottom: 0;
}

.note-code-content {
  filter: var(--drop-shadow-medium)
}
