:host {
  ::ng-deep .markdown {
    filter: var(--drop-shadow-light);
    &>p:last-child {
      margin-bottom: 0;
    }
  }

  &:has(.overdue)::after {
    content: '❗';
    position: absolute;
    top: 32px;
    right: -32px;
    font-size: 3rem;
    border-radius: 50%;
    z-index: -1;
    animation: exclamation-mark-animation ease-in-out 1s;
  }
}

@keyframes exclamation-mark-animation {
  0% {
    opacity: 0;
    transform: rotate(30deg) scale(.3) translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: rotate(-30deg) scale(1.5) translate(20px, -8px);
  }
  100% {
    transform: rotate(0) scale(1) translate(0, 0);
  }
}

.nearly-overdue {
  box-shadow: var(--shadow-overdue);
}

.mat-card-content {
  color: inherit;
  margin-bottom: 0;
}

.note-code-content {
  filter: var(--drop-shadow-medium)
}
