:host::ng-deep .markdown {
  filter: var(--drop-shadow-light);
  &>p:last-child {
    margin-bottom: 0;
  }
}

.mat-card-content {
  color: inherit;
  margin-bottom: 0;
}

.note-code-content {
  filter: var(--drop-shadow-medium)
}
