<div [style.padding.px]="16"
     [style.color]="data.foregroundColor"
     [style.background]="data.backgroundColorGradient
        ? 'linear-gradient(to bottom, ' + data.backgroundColor + ', ' + data.backgroundColorGradient
        : data.backgroundColor">
  <h1 mat-dialog-title class="flex-container"
      cdkDrag cdkDragHandle
      cdkDragRootElement=".cdk-overlay-pane">
    <span>Edit task list</span>
    <a *ngIf="data.foregroundColor && data.backgroundColor">
      <input [(ngModel)]="data.foregroundColor" style="margin-right: 5px" type="color"
             matTooltipPosition="above" matTooltip="Edit text color">
      <input [(ngModel)]="data.backgroundColor" style="margin-right: 5px; margin-left: 5px" type="color"
             matTooltipPosition="above" matTooltip="Edit background color">
      <input [(ngModel)]="data.backgroundColorGradient" style="margin-left: 5px" type="color" matTooltipPosition="above"
             [matTooltip]="data.backgroundColorGradient ? 'Edit gradient color' : 'Add gradient'">
    </a>
  </h1>
  <div mat-dialog-content style="margin: 0; padding: 0">
    <div style="display: flex; gap: 20px">
      <mat-form-field appearance="fill" [style.width]="'100%'" [style.minWidth]="'20px'">
        <mat-label>Position X</mat-label>
        <input matInput [(ngModel)]="data.posX" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill" [style.width]="'100%'" [style.minWidth]="'20px'">
        <mat-label>Position Y</mat-label>
        <input matInput [(ngModel)]="data.posY" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill" [style.width]="'100%'" [style.minWidth]="'20px'">
        <mat-label>Position Z</mat-label>
        <input matInput [(ngModel)]="data.posZ" type="number">
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>Header</mat-label>
      <input matInput [(ngModel)]="data.header">
    </mat-form-field>
    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>Tasks</mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let item of data.items"
          [value]="item"
          (removed)="removeItem(item)">
          {{item.value}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input cdkFocusInitial
          placeholder="New item..."
          [matChipInputFor]="chipList"
          (matChipInputTokenEnd)="addItem($event)">
      </mat-chip-list>
      <mat-hint>Tasks can be separated by new line</mat-hint>
    </mat-form-field>
  </div>

  <div class="dialog-button-group">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="submit()" class="ok-button">Ok</button>
  </div>
</div>
