.mat-icon-button mat-icon {
  transition: all ease-in-out .1s;
  filter: drop-shadow(0 0 3px black)
    drop-shadow(0 0 5px var(--color-background))
    drop-shadow(0 0 5px var(--color-background));
}

:host:hover .img-button-group {
  transform: translateX(0);
}

.img-button-group {
  transition: transform ease-in-out .18s;
  transform: translateX(40px);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 12px 0 0 0;
}

.image-link {
  padding: 5px 10px 10px 10px;
  overflow-wrap: anywhere;
  filter: var(--drop-shadow-strong);
}

.img-placeholder {
  height: 140px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 220px;

  mat-icon {
    animation: rotate 8s infinite linear;
  }
}

.file-icon {
  padding: 42px;
  transform: scale(3);
}

.img-card-header {
  padding-top: 11px;
  padding-right: 11px;
  padding-left: 11px;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
