:host {
  position: absolute;
  cursor: default;
  animation: fade-in 0.2s;
}

.mat-icon-button mat-icon {
  transition: all ease-in-out 0.1s;
}

:host:hover .img-button-group {
  transform: translateX(0);
}

.img-button-group {
  transition: transform ease-in-out 0.18s;
  transform: translateX(80px);
  position: absolute;
  bottom: 0;
  right: 0;
  background: #212121;
  border-radius: 4px;
}

.hide {
  display: none;
}

.image-link {
  padding: 5px 10px 10px 10px;
  overflow-wrap: anywhere;
}
