<mat-card matRipple [matRippleDisabled]="disabled"
          style="padding: 5px 5px 0 5px; min-height: 32px"
          (click)="click($event)"
          (dblclick)="open()"
          (auxclick)="click($event)"
          (contextmenu)="showContextMenu($event)"
          [class.draggable-note-selected]="selected"
          class="flex-container">
  <img *ngIf="!loadingFailed" [src]="image.source" height="140" style="border-radius: 3px"
       (error)="onLoadingFailed()" alt="loading failed">
  <div *ngIf="loadingFailed" style="padding: 5px 10px 10px 10px; overflow-wrap: anywhere;">
    {{image.source}}
  </div>
  <div class="img-button-group">
    <button mat-icon-button (click)="delete(); $event.stopPropagation()"
            (mousedown)="disabled=true"
            (mouseup)="disabled=false">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="showContextMenu($event)"
            (mousedown)="disabled=true"
            (mouseup)="disabled=false">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-card>

<div style="visibility: hidden; position: fixed"
     [style.left.px]="rightClickPosX"
     [style.top.px]="rightClickPosY"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <button mat-menu-item (click)="dataService.bringToFront(this.image)">
    <mat-icon>flip_to_front</mat-icon>
    Bring to front
  </button>
  <button mat-menu-item (click)="dataService.bringForward(this.image)">
    <mat-icon>add_circle_outline</mat-icon>
    Bring forward
  </button>
  <button mat-menu-item (click)="dataService.sendBackward(this.image)">
    <mat-icon>remove_circle_outline</mat-icon>
    Send backward
  </button>
  <button mat-menu-item (click)="dataService.flipToBack(this.image)">
    <mat-icon>flip_to_back</mat-icon>
    Send to back
  </button>
  <button mat-menu-item (click)="open()">
    <mat-icon>open_in_new</mat-icon>
    Open link
  </button>
  <button mat-menu-item (click)="copy()">
    <mat-icon>content_copy</mat-icon>
    Copy link
  </button>
  <button mat-menu-item (click)="select()">
    <mat-icon>{{selected ? 'close' : 'check'}}</mat-icon>
    {{selected ? 'Remove selection' : 'Select'}}
  </button>
  <button mat-menu-item (click)="delete()">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
</mat-menu>
