<mat-card (click)="$event.stopPropagation()"
          (contextmenu)="showContextMenu($event, true)"
          (dblclick)="open()"
          (mousedown)="onMouseDown()"
          (mousemove)="onMouseMove()"
          (mouseup)="onMouseUp($event)"
          [class.docked-left]="image.posX == 0"
          [class.docked-top]="image.posY == 49"
          [matRippleDisabled]="rippleDisabled"
          class="flex-container" matRipple
          style="padding: 5px 5px 0 5px; min-height: 32px">
  <div *ngIf="!imageLoaded" class="image-link">
    {{image.source}}
  </div>
  <img (load)="onImageLoaded()" [class.hide]="!imageLoaded" [src]="image.source" alt="loading failed"
       class="animated" height="140" style="border-radius: 8px">
  <div class="img-button-group">
    <button (mousedown)="rippleDisabled=true"
            (mouseup)="delete($event)"
            mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button (mousedown)="rippleDisabled=true"
            (mouseup)="showContextMenu($event); rippleDisabled=false"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-card>

<div [matMenuTriggerFor]="contextMenu"
     [style.left.px]="rightClickPosX"
     [style.top.px]="rightClickPosY"
     style="visibility: hidden; position: fixed">
</div>
<mat-menu #contextMenu="matMenu">
  <button (click)="dataService.bringToFront(this.image)" mat-menu-item>
    <mat-icon>flip_to_front</mat-icon>
    Bring to front
  </button>
  <button (click)="dataService.bringForward(this.image)" mat-menu-item>
    <mat-icon>add_circle_outline</mat-icon>
    Bring forward
  </button>
  <button (click)="dataService.sendBackward(this.image)" mat-menu-item>
    <mat-icon>remove_circle_outline</mat-icon>
    Send backward
  </button>
  <button (click)="dataService.flipToBack(this.image)" mat-menu-item>
    <mat-icon>flip_to_back</mat-icon>
    Send to back
  </button>
  <ng-container *ngIf="dataService.tabs.length > 1">
    <button [matMenuTriggerFor]="tabs" mat-menu-item>
      <mat-icon>drive_file_move</mat-icon>
      Move
    </button>
  </ng-container>
  <button (click)="open()" mat-menu-item>
    <mat-icon>open_in_new</mat-icon>
    Open link
  </button>
  <button (click)="copy()" mat-menu-item>
    <mat-icon>content_copy</mat-icon>
    Copy link
  </button>
  <button (click)="select()" mat-menu-item>
    <mat-icon>{{image.selected ? 'close' : 'check'}}</mat-icon>
    {{image.selected ? 'Remove selection' : 'Select'}}
  </button>
  <button (click)="delete($event, true)" mat-menu-item>
    <mat-icon>delete</mat-icon>
    Delete
  </button>
</mat-menu>

<mat-menu #tabs="matMenu">
  <ng-container *ngFor="let tab of dataService.tabs">
    <button (click)="moveToTab(tab.index)" *ngIf="dataService.currentTabIndex != tab.index" mat-menu-item>
      {{tab.label ? tab.label : '#Board ' + (tab.index + 1)}}
    </button>
  </ng-container>
</mat-menu>
