<div [style.padding.px]="16">
  <h1 mat-dialog-title class="flex-container"
      cdkDrag cdkDragHandle
      cdkDragRootElement=".cdk-overlay-pane">
    <span>{{ 'EDIT_IMAGE' | translate }}</span>
  </h1>
  <div mat-dialog-content style="margin: 0; padding: 0">
    <mat-form-field color="accent" [style.width]="'100%'">
      <mat-label>{{ 'IMAGE_LINK' | translate }}</mat-label>
      <input matInput [(ngModel)]="data.source">
    </mat-form-field>
  </div>

  <button (click)="openFileDialog()">OPEN FILE</button>

  <div class="dialog-button-group">
    <button mat-button (click)="cancel()">
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-button (click)="submit()" class="ok-button">
      {{ 'OK' | translate }}
    </button>
  </div>
</div>
