.form-group-wrapper {
  display: flex;
  gap: 20px;

  .mat-form-field {
    width: 100%;
    min-width: 20px;
  }
}

.upload-button {
  height: 100px;
  width: 200px;
  animation: default-animation .3s;
  mat-icon {
    transform: scale(2);
  }
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  .img {
    &:hover .round-button {
      background: red;
    }
    .round-button {
      position: absolute;
      margin: -20px;
      background: #33333390;
      backdrop-filter: blur(6px);
    }
    &.file-type-icon {
      height: 130px;
      .icon {
        transform: translateY(54px) scale(6);
      }
      .round-button {
        margin: -20px 0 0 20px;
      }
    }
  }
}

.mat-dialog-content {
  padding-bottom: 10px !important;
}
