.hashy-icon {
  width: 100px;
  transform: translateX(-10px);
}

.hashy-icon-wrapper {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  margin-left: -24px;
}

.flex-container {
  justify-content: left;
  margin-left: 8px;
}

.thumb {
  font-size: 1.5rem;
  vertical-align: bottom;
}

// Preventing border on enter dialog
.licence-button {
  text-decoration: none;
  &:-webkit-any-link:focus-visible {
    outline: none;
  }
}
