.hashy-icon {
  width: 100px;
  transform: translateX(-10px);
}

.hashy-icon-wrapper {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  margin-left: -24px;
}

.flex-container {
  justify-content: left;
  margin-left: 8px;
}
