.mat-menu-item {
  border-radius: 8px;
  margin-top: 4px;
}

.hashy-icon {
  width: 100px;
  transform: translateX(-10px);
}

.hashy-icon-wrapper {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  margin-left: -24px;
}

.flex-container {
  justify-content: left;
  margin-left: 8px;
}

.heart {
  color: #c33f3f;
  filter: drop-shadow(0 0 10px currentColor);
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0 currentColor);
  }
}
