<h1 mat-dialog-title style="margin: 18px">
  <span class="flex-container">
    <mat-icon mat-dialog-close style="transform: translateX(-5px)">close</mat-icon>
    <span>About</span>
  </span>
</h1>
<mat-dialog-content style="margin: 0">
  <a mat-menu-item href="https://github.com/jensmeichler/clipboard" target="_blank">
    <mat-icon>person</mat-icon>
    Visit github profile
  </a>
  <a mat-menu-item href="https://www.buymeacoffee.com/jensmeichler" target="_blank">
    <mat-icon>favorite</mat-icon>
    Donate to the developer
  </a>
  <div class="hashy-icon-wrapper">
    <img alt="hashy" class="hashy-icon" src="assets/hashy.svg">

    <svg style="position: absolute; bottom: 18px; right: 16px" xmlns="http://www.w3.org/2000/svg" height="80" viewBox="0 0 56.918 57.103">
      <path d="M685.709,197.527l18.971-13s5.915-3.46.279-5.97-4.91,12.555-4.91,12.555v19.554s-.166,8.194-9.609,3.6c-11.5-5.408,17.7-21.426,17.7-21.426s6.584-3.962,1.9-6.082a3.244,3.244,0,0,0-2.882-.016,6.724,6.724,0,0,0-3.144,4.368,15.741,15.741,0,0,0-.223,2.065s-.819,6.669,4.352,5.97c1.953-.167,3.207-1.184,4.687-2.232l16.59-11.658s7.607-5.472,0-6.7-2.48-11.3-2.866,5.523" transform="translate(-677.391 -163.378)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="3"/>
      <path d="M714.861,191.065c2.756-4.715-4.691-13.31-4.691-13.31s7.933,5.628,11.917,8c1.245.738-4.854-13.392,2.794-15.259" transform="translate(-677.391 -163.378)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="3"/>
      <text transform="matrix(0.788, -0.616, 0.616, 0.788, 24.317, 54.037)" fill="#707070" stroke="#707070" stroke-width="0.5" font-size="14" font-family="PalaceScriptMT, Palace Script MT"><tspan x="0" y="0">Meichler</tspan></text>
      <text transform="matrix(0.788, -0.616, 0.616, 0.788, 10.109, 19.122)" fill="#707070" stroke="#707070" stroke-width="0.5" font-size="21" font-family="PalaceScriptMT, Palace Script MT"><tspan x="0" y="0">by</tspan></text>
    </svg>
  </div>
</mat-dialog-content>
