.clipboard {
  height: 98vh;
  border: 1vh dashed var(--color-background);
  transition: border ease-in-out 0.2s;
}

.fab-container:hover > .save-as-button:not(:disabled) {
  transform: translateY(-70px);
  transition-delay: 0s;
  opacity: 1;
}

.save-as-button {
  position: absolute;
  transition: all cubic-bezier(0.5, -0.3, 0, 1.2) 0.3s;
  transition-delay: 1s;
  opacity: 0;
}

.fab-container {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 103;
}

.hashy {
  position: absolute;
  bottom: 42px;
  left: 22px;
  z-index: 103;
  transition: all cubic-bezier(0.8, -0.5, 0.8, 1) 0.5s;
  transform: translateY(60px) scale(0);
}

.show-hashy {
  transition: all cubic-bezier(0.5, -0.3, 0, 2) 0.3s;
  transform: translateY(0) scale(1);
}

.hashy-bg {
  opacity: 0;
  transition-delay: 100ms;
}

.show-hashy-bg {
  transition: all cubic-bezier(0.5, -0.3, 0, 2) 0.3s;
  transform: translateY(0) scale(1);
  opacity: 1;
  transition-delay: 0.1s;
}

.startup-logo {
  font-size: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7b1ea2;
  animation: fade-out cubic-bezier(0.5, -0.3, 0, 2) 6s;
  transform: scale(0.3) translate(5.7em, -0.4em);
  width: auto;
  cursor: pointer;
}

@keyframes fade-out {
  0% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #ffffff1f;
    transform: scale(0);
  }
  8% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #ffffff1f;
    transform: scale(0.7);
  }
  50% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #ffffff1f;
    transform: scale(0.7);
    opacity: 1;
  }
  89% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #ffffff1f;
    transform: scale(0);
    opacity: 0;
  }
  90% {
    width: auto;
    top: 0;
    right: 0;
    color: var(--color-primary);
    transform: scale(0.3) translate(5.7em, -1.7em);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
