.clipboard {
  height: 98vh;
  border: 1vh solid var(--color-background);
}

.drag-over {
  border: 1vh dashed var(--color-accent);
}

.mat-fab {
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 100;
}

.donate-button {
  position: absolute;
  bottom: 80px;
  right: 14px;
  z-index: 100;
  transition: transform ease-in-out 0.3s;
}

.donate-button:hover {
  transform: scale(1.5) rotate(-10deg) translateY(-12px) translateX(-6px);
}
