.clipboard {
  height: 100vh;
}

.mat-fab:nth-child(1) {
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 100;
}

.mat-fab:nth-child(2) {
  position: absolute;
  bottom: 106px;
  right: 32px;
  z-index: 100;
}
