<mat-tab-group (selectedIndexChange)="dataService.setSelectedTab($event)" animationDuration="0"
               [(selectedIndex)]="dataService.currentTabIndex">
  <mat-tab *ngFor="let tab of dataService.tabs">
    <ng-template mat-tab-label>
      <div style="margin-left: 8px; margin-right: 4px">{{tab.label ? tab.label : '#Board ' + (tab.index + 1)}}</div>
      <ng-container *ngIf="dataService.currentTabIndex == tab.index">
        <mat-icon class="tab-button" matTooltip="Edit tab" (click)="openEditTabDialog()">edit</mat-icon>
        <ng-container *ngIf="dataService.tabs.length > 1">
          <mat-icon class="tab-button" (click)="dataService.removeTab()" matTooltip="Close tab">close</mat-icon>
        </ng-container>
      </ng-container>
    </ng-template>
    <mat-divider style="position: fixed; top: 48px; left: 0; right: 0"></mat-divider>
    <clipboard-tab (contextmenu)="showContextMenu($event)"
                   (dblclick)="showContextMenu($event)"
                   [style.background]="tab.gradient
                      ? 'linear-gradient(to bottom, ' + tab.color + ', ' + tab.gradient
                      : tab.color"></clipboard-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div style="padding: 24px; margin: -24px"
           (click)="dataService.addTab(); $event.stopPropagation()">
        <mat-icon matTooltip="New tab" style="transform: translateY(2px)">add</mat-icon>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div style="visibility: hidden; position: fixed"
     [style.left.px]="rightClickPosX"
     [style.top.px]="rightClickPosY"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <button mat-menu-item (click)="openNewNoteDialog()">
    <mat-icon>note</mat-icon>
    Create note
  </button>
  <button mat-menu-item (click)="openNewTaskListDialog()">
    <mat-icon>list</mat-icon>
    Create task list
  </button>
  <button mat-menu-item (click)="openEditTabDialog()">
    <mat-icon>format_paint</mat-icon>
    Edit tab
  </button>
  <button mat-menu-item (click)="clearAll()">
    <mat-icon>delete</mat-icon>
    Delete tab content
  </button>
  <button mat-menu-item (click)="clearAllForever()">
    <mat-icon>delete_forever</mat-icon>
    Delete all tabs
  </button>
</mat-menu>

<div class="fab-container">
  <button mat-mini-fab color="accent" matTooltip="Save as" matTooltipPosition="left"
          (click)="saveAs(); $event.stopPropagation()" class="save-as-button"
          [disabled]="!dataService.itemsCount">
    <mat-icon>save_as</mat-icon>
  </button>
  <button mat-fab color="primary" matTooltipPosition="left"
          [matTooltip]="dataService.selectedItemsCount ? 'Save ' + dataService.selectedItemsCount + ' items' : 'Save current tab'"
          (click)="save(); $event.stopPropagation()"
          [disabled]="!dataService.itemsCount">
    <mat-icon [matBadge]="dataService.selectedItemsCount ? dataService.selectedItemsCount : ''"
              matBadgeColor="accent" matBadgeOverlap="false" matBadgeSize="large">
      save
    </mat-icon>
  </button>
</div>

<a target="_blank" class="startup-logo" (click)="showAboutDialog()">
  <span style="margin-right: 12px">Clip</span>
  <img src="favicon.ico" height="120" alt="#" style="transform: translateY(-4px)">
  <span style="margin-left: 12px">board</span>
</a>

<img alt="hashy" [class.show-hashy-bg]="hashy.showHashy | async"
     class="hashy hashy-bg" src="assets/hashy-bg.svg" height="124">
<img alt="hashy" [class.show-hashy]="hashy.showHashy | async"
     class="hashy" src="assets/hashy-fg.svg" height="154">
