<div class="clipboard" [ngClass]="isDragging ? 'drag-over' : ''"
     (click)="newNote($event)" (drop)="getNotes($event)">
  <button mat-fab color="primary"
          (click)="saveNotes(); $event.stopPropagation()"
          [disabled]="!(notes$ | async)?.length">
    <mat-icon>save</mat-icon>
  </button>
  <ng-container *ngIf="notes$ | async">
    <ng-container *ngFor="let note of notes$ | async">
      <note cdkDrag cdkDragBoundary=".clipboard"
            [style.top.px]="note.posY"
            [style.left.px]="note.posX"
            [note]="note" [notes$]="notes$"></note>
    </ng-container>
  </ng-container>
</div>
