.flags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  .flag {
    width: 24px;
    height: 18px;
    border-radius: 2px;
    &.flag-en {
      background: url("./../assets/flags/en.svg");
    }
    &.flag-de {
      background: url("./../assets/flags/de.svg");
    }
    &.flag-ua {
      background: url("./../assets/flags/ua.svg");
    }
  }
}

.save-as-button {
  position: absolute;
  margin: 8px;
  transition: all cubic-bezier(0.5, -0.3, 0, 1.2) 0.3s;
  transition-delay: 1s;
  opacity: 0;
}

.fab-container {
  position: fixed;
  bottom: var(--margin-edge);
  right: var(--margin-edge);
  z-index: 103;
  &:hover > .save-as-button:not(:disabled) {
    transform: translateY(-60px);
    transition-delay: 0s;
    opacity: 1;
  }
}

.context-menu-button {
  position: fixed;
  bottom: 32px;
  right: 86px;
  z-index: 103;
}

.settings-button {
  position: fixed;
  top: 3px;
  right: 2px;
  z-index: 103;
}

.tab-button {
  width: 20px;
  transform: scale(0.8);
  animation: grow 0.6s;
  &:first-child {
    margin-left: 8px;
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    margin-left: 0;
    margin-right: -20px;
  }
}

.hashy {
  position: fixed;
  bottom: 42px;
  left: 22px;
  z-index: 1000;
  transition: all cubic-bezier(0.8, -0.5, 0.8, 1) 0.5s;
  transform: translateY(60px) scale(0);
}

.show-hashy {
  transition: all cubic-bezier(0.5, -0.3, 0, 2) 0.3s;
  transform: translateY(0) scale(1);
}

.hashy-bg {
  opacity: 0;
  transition-delay: 100ms;
}

.show-hashy-bg {
  transition: all cubic-bezier(0.5, -0.3, 0, 2) 0.3s;
  transform: translateY(0) scale(1);
  opacity: 1;
  transition-delay: 0.1s;
}

.startup-logo {
  cursor: pointer;
  font-size: 10rem;
  position: fixed;
  top: 0;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7b1ea2;
  animation: fade-out cubic-bezier(0.5, -0.3, 0, 2) 6s;
  transform: scale(0.2) translate(10em, -1.1em);
  width: auto;
  filter: drop-shadow(0 0 16px black);
  z-index: 103;
}

@keyframes fade-out {
  0% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #4b4b4b;
    transform: scale(0);
  }
  8% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #4b4b4b;
    transform: scale(0.7);
  }
  50% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #4b4b4b;
    transform: scale(0.7);
    opacity: 1;
  }
  89% {
    width: 100%;
    top: 36vh;
    right: auto;
    color: #4b4b4b;
    transform: scale(0);
    opacity: 0;
  }
  90% {
    width: auto;
    top: 0;
    right: 0;
    color: var(--color-primary);
    transform: scale(0.2) translate(10em, -1.7em);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host ::ng-deep {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &:hover ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-transparency-medium);
    border-radius: 3px;
    &:hover {
      background: var(--color-transparency-strong);
    }
  }
}
