<mat-card (click)="$event.stopPropagation()"
          (contextmenu)="showContextMenu($event)"
          (mousedown)="onMouseDown($event)"
          (mousemove)="onMouseMove()"
          (mouseup)="onMouseUp($event)"
          [class.docked-left]="noteList.posX === 0"
          [class.docked-top]="noteList.posY === 49"
          [style.background-color]="noteList.backgroundColor"
          [style.color]="noteList.foregroundColor"
          [highlightColor]="noteList.backgroundColorGradient"
          [highlightedItem]="noteList">
  <mat-card-title *ngIf="noteList.header">
    {{ noteList.header }}
  </mat-card-title>
  <mat-card-content (cdkDropListDropped)="dropItem($event)" [cdkDropListData]="noteList.notes" cdkDropList>
   <span *ngFor="let note of noteList.notes" class="note-within-list" style="margin: 0" cdkDrag>
     <small-note [note]="note" [noteList]="noteList"></small-note>
      <span>
        <button (click)="editNote(note)" class="item-button" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteNote(note)" class="item-button" mat-icon-button style="margin-right: -8px">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </span>
  </mat-card-content>

  <mat-card-actions align="end">
    <button (click)="addFromClipboard()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="edit()" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="delete(); $event.stopPropagation()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="showContextMenu($event)" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer [style.margin-bottom.px]="-32"></mat-card-footer>
</mat-card>

<div [matMenuTriggerFor]="contextMenu"
     [style.left.px]="rightClickPosX"
     [style.top.px]="rightClickPosY"
     style="visibility: hidden; position: fixed">
</div>
<mat-menu #contextMenu="matMenu">
  <div [style.background]="noteList.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + noteList.backgroundColor + ', ' + noteList.backgroundColorGradient
            : noteList.backgroundColor"
       [style.color]="noteList.foregroundColor">
    <button *ngIf="!noteList.selected" (click)="select()" mat-menu-item>
      <mat-icon>check</mat-icon>
      {{ 'DRAGGABLE.SELECT' | translate }}
    </button>
    <button *ngIf="noteList.selected" (click)="select()" mat-menu-item>
      <mat-icon>close</mat-icon>
      {{ 'DRAGGABLE.REMOVE_SELECTION' | translate }}
    </button>
    <ng-container *ngIf="!dataService.selectedItemsCount">
      <button (click)="edit()" mat-menu-item>
        <mat-icon>edit</mat-icon>
        {{ 'DRAGGABLE.EDIT' | translate }}
      </button>
      <button (click)="delete()" mat-menu-item>
        <mat-icon>delete</mat-icon>
        {{ 'DRAGGABLE.DELETE' | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="!dataService.selectedItemsCount">
      <button [matMenuTriggerFor]="movement" mat-menu-item>
        <mat-icon>flip_to_front</mat-icon>
        {{ 'DRAGGABLE.MOVE' | translate }}
      </button>
      <ng-container *ngIf="dataService.tabs.length > 1">
        <button [matMenuTriggerFor]="tabs" mat-menu-item>
          <mat-icon>tab</mat-icon>
          {{ 'DRAGGABLE.SEND' | translate }}
        </button>
      </ng-container>
      <button (click)="openNewNoteDialog()" mat-menu-item>
        <mat-icon>add</mat-icon>
        {{ 'NOTE_LIST.ADD_NOTE' | translate }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #movement="matMenu">
  <div [style.background]="noteList.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + noteList.backgroundColor + ', ' + noteList.backgroundColorGradient
            : noteList.backgroundColor"
       [style.color]="noteList.foregroundColor">
    <button (click)="dataService.bringToFront(noteList)" mat-menu-item>
      <mat-icon>flip_to_front</mat-icon>
      {{ 'DRAGGABLE.BRING_TO_FRONT' | translate }}
    </button>
    <button (click)="dataService.bringForward(noteList)" mat-menu-item>
      <mat-icon>add_circle_outline</mat-icon>
      {{ 'DRAGGABLE.BRING_FORWARD' | translate }}
    </button>
    <button (click)="dataService.sendBackward(noteList)" mat-menu-item>
      <mat-icon>remove_circle_outline</mat-icon>
      {{ 'DRAGGABLE.SEND_BACKWARD' | translate }}
    </button>
    <button (click)="dataService.flipToBack(noteList)" mat-menu-item>
      <mat-icon>flip_to_back</mat-icon>
      {{ 'DRAGGABLE.SEND_TO_BACK' | translate }}
    </button>
  </div>
</mat-menu>

<mat-menu #tabs="matMenu">
  <div [style.background]="noteList.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + noteList.backgroundColor + ', ' + noteList.backgroundColorGradient
            : noteList.backgroundColor"
       [style.color]="noteList.foregroundColor">
    <ng-container *ngFor="let tab of dataService.tabs">
      <button (click)="moveToTab(tab.index)" *ngIf="dataService.selectedTabIndex !== tab.index" mat-menu-item>
        <mat-icon>arrow_forward</mat-icon>
        {{tab.label ? tab.label : '#Board ' + (tab.index + 1)}}
      </button>
    </ng-container>
  </div>
</mat-menu>
