:host ::ng-deep .mat-card-content {
  display: flex;
  flex-direction: column;
  .mat-menu-item {
    border-radius: 8px;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    transition: all ease-in-out 100ms;
    &:hover {
      box-shadow: var(--shadow-light);
    }
  }
}

.item-button {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

.note-within-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

/******************************************
  Drag and drop animations and templates
******************************************/
::ng-deep {
  .cdk-drag-preview {
    white-space: nowrap;
    .mat-menu-item {
      border-radius: 8px;
      height: 34px;
      line-height: 34px;
      padding: 0 8px;
      transition: all ease-in-out 100ms;
      box-shadow: var(--shadow-strong);
    }
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .cdk-drag-animating,
  .cdk-drop-list-dragging .note-within-list:not(.cdk-drag-placeholder) {
    transition: var(--drag-drop-transition);
  }
}
