:host ::ng-deep .mat-card-content {
  display: flex;
  flex-direction: column;
  .mat-menu-item {
    border-radius: 8px;
    height: 34px;
    line-height: 34px;
  }
}

.item-button {
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}

.flex-container {
  gap: 6px;
}

/******************************************
  Drag and drop animations and templates
******************************************/
.cdk-drag-preview {
  border-radius: 8px;
  height: 34px;
  line-height: 34px;
  box-shadow: 0 5px 5px -3px #00000033,
    0 8px 10px 1px #00000023,
    0 3px 14px 2px #0000001E;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drop-list-dragging .note-within-list:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: all cubic-bezier(0, 0, 0.2, 1) 300ms;
}
