:host ::ng-deep .mat-card-content {
  display: flex;
  gap: 6px;
  flex-direction: column;
  .mat-menu-item {
    border-radius: 8px;
    height: 34px;
    line-height: 34px;
  }
}

.item-button {
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}

.flex-container {
  gap: 6px;
}
