.clipboard {
  height: calc(100vh - 49px);
  background: inherit;
}

.clipboard-hover {
  height: calc(98vh - 49px);
  border: 1vh solid;
  animation-name: rainbow;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  border-image: conic-gradient(var(--color-primary), var(--color-secondary),
  var(--color-primary), var(--color-secondary),
  var(--color-primary), var(--color-secondary),
  var(--color-primary), var(--color-secondary),
  var(--color-primary)) 1;
}

@keyframes rainbow {
  50% {
    border-image: conic-gradient(var(--color-secondary), var(--color-primary),
    var(--color-secondary), var(--color-primary),
    var(--color-secondary), var(--color-primary),
    var(--color-secondary), var(--color-primary),
    var(--color-secondary)) 1;
  }
}

.draggable-note {
  transition: box-shadow ease-in-out 0.3s;
  box-shadow: var(--shadow-light);
  border-radius: 4px;
}

.draggable-note:hover {
  z-index: 102 !important;
  box-shadow: var(--shadow-strong);
}

.draggable-note-selected {
  z-index: 101 !important;
  box-shadow: 0 0 20px var(--color-secondary) !important;
}
