<div *ngIf="tab" class="clipboard" customDragDrop
     (mousedown)="onMouseDown($event)"
     (mouseup)="onMouseUp($event)"
     (drop)="dropFile($event)"
     [style.background]="tab.color == '#131313' ? '#131313' : 'linear-gradient(to bottom, transparent, #131313), radial-gradient(' + tab.color + ', #131313)'">
  <ng-container *ngFor="let note of tab.notes">
    <note cdkDrag class="draggable-note" [class.draggable-note-selected]="note.selected"
          (cdkDragEnded)="saveItemPosition($event, note)"
          (mousedown)="$event.stopPropagation()"
          [style.top.px]="note.posY - 49"
          [style.left.px]="note.posX"
          [style.zIndex]="note.posZ"
          [note]="note"></note>
  </ng-container>
  <div cdkDropListGroup>
    <ng-container *ngFor="let taskList of tab.taskLists">
      <task-list cdkDrag class="draggable-note" [class.draggable-note-selected]="taskList.selected"
                 (cdkDragEnded)="saveItemPosition($event, taskList)"
                 (mousedown)="$event.stopPropagation()"
                 [style.top.px]="taskList.posY - 49"
                 [style.left.px]="taskList.posX"
                 [style.zIndex]="taskList.posZ"
                 [taskList]="taskList"></task-list>
    </ng-container>
  </div>
  <ng-container *ngFor="let image of tab.images">
    <image cdkDrag class="draggable-note" [class.draggable-note-selected]="image.selected"
           (cdkDragEnded)="saveItemPosition($event, image)"
           (mousedown)="$event.stopPropagation()"
           [style.top.px]="image.posY - 49"
           [style.left.px]="image.posX"
           [style.zIndex]="image.posZ"
           [image]="image"></image>
  </ng-container>

  <ng-container *ngIf="mouseDown">
    <!--bottom right-->
    <div *ngIf="startCursorPosX < endCursorPosX && startCursorPosY < endCursorPosY" class="selection-border"
         [style.top]="(startCursorPosY - 49) + 'px'"
         [style.left]="startCursorPosX + 'px'"
         [style.bottom]="'calc(100vh - ' + endCursorPosY + 'px)'"
         [style.right]="'calc(100vw - ' + endCursorPosX + 'px)'"
    ></div>
    <!--top left-->
    <div *ngIf="startCursorPosX > endCursorPosX && startCursorPosY > endCursorPosY" class="selection-border"
         [style.top]="(endCursorPosY - 49) + 'px'"
         [style.left]="endCursorPosX + 'px'"
         [style.bottom]="'calc(100vh - ' + startCursorPosY + 'px)'"
         [style.right]="'calc(100vw - ' + startCursorPosX + 'px)'"
    ></div>
    <!--bottom left-->
    <div *ngIf="startCursorPosX > endCursorPosX && startCursorPosY < endCursorPosY" class="selection-border"
         [style.top]="(startCursorPosY - 49) + 'px'"
         [style.left]="endCursorPosX + 'px'"
         [style.bottom]="'calc(100vh - ' + endCursorPosY + 'px)'"
         [style.right]="'calc(100vw - ' + startCursorPosX + 'px)'"
    ></div>
    <!--top right-->
    <div *ngIf="startCursorPosX < endCursorPosX && startCursorPosY > endCursorPosY" class="selection-border"
         [style.top]="(endCursorPosY - 49) + 'px'"
         [style.left]="startCursorPosX + 'px'"
         [style.bottom]="'calc(100vh - ' + startCursorPosY + 'px)'"
         [style.right]="'calc(100vw - ' + endCursorPosX + 'px)'"
    ></div>
  </ng-container>
</div>
