.clipboard {
  height: calc(100vh - 50px);
  background: inherit;
  box-shadow: inset 0 5px 8px -3px #00000080;
}

.clipboard-hover {
  height: calc(100vh - 54px);
  border: 2px solid;
  animation-name: rainbow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border-image: conic-gradient(
    var(--color-primary),
    var(--color-primary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-primary),
    var(--color-primary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-primary),
    var(--color-primary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-primary),
    var(--color-primary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-primary),
    var(--color-primary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-primary)) 1;
}

@keyframes rainbow {
  25% {
    border-image: conic-gradient(
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary)) 1;
  }
  50% {
    border-image: conic-gradient(
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary)) 1;
  }
  75% {
    border-image: conic-gradient(
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary),
      var(--color-primary),
      var(--color-primary),
      var(--color-secondary),
      var(--color-secondary)) 1;
  }
}

.draggable-note {
  transition: box-shadow ease-in-out 0.3s;
  box-shadow: var(--shadow-light);
  border-radius: 4px;
}

.draggable-note:hover {
  z-index: 102 !important;
  box-shadow: var(--shadow-strong);
}

.draggable-note-selected {
  z-index: 101 !important;
  box-shadow: 0 0 20px var(--color-secondary) !important;
}
