:host {
  position: absolute;
  top: -29px;
  left: 27px;
  bottom: 0;
  right: 0;
}

.note-connection {
  position: absolute;
  animation: connection-animation ease-in-out .6s;

  border-radius: var(--border-radius);

  border-left: 4px solid var(--color-primary);
  &.top-left-to-bottom-right {
    border-bottom: 4px solid var(--color-primary);
  }
  &.bottom-left-to-top-right {
    border-top: 4px solid var(--color-primary);
  }
}

@keyframes connection-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
