:host::ng-deep {
  --save-as-dialog-height: 52px;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-underline {
    transform: translateY(19px);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-wrapper {
    height: var(--save-as-dialog-height);
    padding-bottom: 0;
  }
  button {
    height: var(--save-as-dialog-height);
    border-radius: 4px 0 !important;
  }
}
