html, body {
  --color-background: #131313;
  --color-accent: #4d4d4d;
  --color-note: #424242;
  --color-primary: #7b1ea2;
  --color-secondary: #69f0ae;
  --shadow-light: 0 0 8px #000000a9;
  --shadow-strong: 0 0 16px black;
  --width-edit-dialog: 50vw;
  --margin-edge: 24px;
  --font-family: Roboto, "Helvetica Neue", sans-serif;

  color-scheme: dark;

  margin: 0;
  height: 100%;
  background: var(--color-background);

  font-family: var(--font-family);
}

@media screen and (max-width: 800px) {
  html, body {
    --width-edit-dialog: 100vw;
  }
}

.mat-tab-header {
  width: calc(100vw - 180px);
  border: none;
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
  border-radius: 4px;
  box-shadow: var(--shadow-strong);
}

div.mat-menu-content:not(:empty) {
  padding-top: 0;
  padding-bottom: 0;
}

button.mat-menu-item {
  color: inherit;
}

button.mat-menu-item > mat-icon.mat-icon {
  color: inherit;
}

mat-card-title.flex-container,
h1.flex-container,
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

save-as-dialog .mat-form-field-underline {
  transform: translateY(19px);
}

save-as-dialog .mat-form-field-wrapper {
  padding-bottom: 0;
}

.item-button {
  opacity: 0.3;
}

.mat-icon-button {
  transition: all ease-in-out 0.2s;
}

.mat-icon-button:hover {
  transform: scale(1.3);
  opacity: 1;
}

.animated {
  animation: default-animation 0.3s;
}

.mat-snack-bar-container {
  background: var(--color-secondary);
  border: 4px solid #00000028;
  border-radius: 14px !important;
}

.mat-snack-bar-container .mat-simple-snackbar {
  font-size: larger;
}

@keyframes default-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
}
