.cursor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  pointer-events: none;
  filter: blur(20px);
}

.cursor-position {
  position: fixed;
  left: var(--margin-edge);
  color: white;
  z-index: 99999;
  opacity: .6;
  transition: bottom ease-in-out 0.16s;
}

@keyframes cursor-pulse {
  50% {
    filter: blur(3px);
  }
}

html, body {
  --color-background: #131313;
  --color-transparency-light: #FFFFFF19;
  --color-note: #212121;
  --color-primary: #7b1ea2;
  --color-secondary: #69f0ae;
  --shadow-light: 0 0 8px #131313a8;
  --shadow-strong: 0 0 16px black;
  --width-edit-dialog: 50vw;
  --margin-edge: 24px;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --border-radius: 12px;

  color-scheme: dark;
  overflow: hidden;

  margin: 0;
  height: 100%;
  background: var(--color-background);

  font-family: var(--font-family);
}

@media screen and (max-width: 800px) {
  html, body {
    --width-edit-dialog: 100vw;
  }
}

.mat-tab-body-wrapper {
  border-top: 1px solid var(--color-transparency-light);
}

.mat-card-content {
  white-space: nowrap !important;
}

markdown > p:last-child {
  margin: 0;
}

.mat-tab-body.mat-tab-body-active {
  overflow: overlay !important;
}

.mat-chip.mat-standard-chip {
  background-color: #00000047;
  border-radius: var(--border-radius);
}

.mat-menu-submenu-icon {
  color: currentColor;
}

.dialog-button-group {
  display: flex;
  justify-content: flex-end;
}

.mat-card {
  background: var(--color-note);
  border-radius: var(--border-radius) !important;
}

.mat-badge-content {
  border-radius: var(--border-radius);
}

.mat-button-base {
  border-radius: var(--border-radius) !important;
}

.mat-dialog-container,
.mat-bottom-sheet-container,
.mat-menu-panel {
  background: var(--color-note);
  border-radius: var(--border-radius) !important;
}

.mat-checkbox-frame {
  border-color: currentColor;
  border-radius: 4px !important;
}

.mat-checkbox-background {
  border-radius: 3px !important;
}

.mat-menu-panel {
  min-height: 0 !important;
}

.mat-tab-label:last-child {
  min-width: 0 !important;
}

.mat-tab-header {
  width: calc(100vw - 180px);
  border: none;
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
  box-shadow: var(--shadow-strong);
}

div.mat-menu-content:not(:empty) {
  padding-top: 0;
  padding-bottom: 0;
}

button.mat-menu-item {
  color: inherit;
}

button.mat-menu-item > mat-icon.mat-icon {
  color: inherit;
}

mat-card-title.flex-container,
h1.flex-container,
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ok-button {
  background-color: var(--color-transparency-light)
}

save-as-dialog .mat-form-field-underline {
  transform: translateY(19px);
}

save-as-dialog .mat-form-field-wrapper {
  padding-bottom: 0;
}

.color-button {
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white);
  transform: translateY(4px);
  margin-right: 5px;
}

.item-button {
  opacity: 0.3;
}

.mat-icon-button {
  transition: all ease-in-out 0.2s;
}

.mat-icon-button:hover {
  transform: scale(1.3);
  opacity: 1;
}

.animated {
  animation: default-animation 0.3s;
}

a[href] {
  color: currentColor;
}

.mat-snack-bar-container {
  background: var(--color-secondary);
  border: 4px solid #00000028;
  border-radius: 14px !important;
}

.mat-snack-bar-container .mat-simple-snackbar {
  font-size: larger;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: currentColor;
}

.cdk-global-scrollblock {
  overflow-y: inherit;
}

.docked-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.docked-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.docked-top-left {
  border-radius: 0 0 var(--border-radius) 0 !important;
}

@keyframes default-animation {
  50% {
    transform: scale(1.1);
  }
}
