<mat-card (click)="click($event);"
          (auxclick)="click($event);"
          [style.color]="taskList.foregroundColor"
          [style.background]="taskList.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + taskList.backgroundColor + ', ' + taskList.backgroundColorGradient
            : taskList.backgroundColor">
  <mat-card-title class="flex-container">
    {{taskList.header ?? 'Tasks'}}
  </mat-card-title>
  <mat-card-content>
    <ng-container *ngFor="let item of taskList.items">
      <a class="flex-container" style="margin: 0">
        <ng-container *ngIf="item !== itemToEdit">
          <mat-checkbox [checked]="item.checked" (change)="markAsChecked(item)">
            {{item.value}}
          </mat-checkbox>
          <div>
            <button mat-icon-button class="item-button"
                    (click)="startEditItem(item);$event.stopPropagation()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="item-button" style="margin-right: -8px"
                    (click)="deleteItem(item);$event.stopPropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="item === itemToEdit">
          <div style="flex-grow: 1; display: flex">
            <mat-checkbox [checked]="item.checked" (change)="markAsChecked(item)">
            </mat-checkbox>
            <input type="text" [(ngModel)]="item.value" autofocus
                   style="flex-grow: 1; margin: 0 -20px 0 6px" (mousedown)="$event.stopPropagation()">
          </div>
          <button mat-icon-button class="item-button" style="margin-right: -8px"
                  (click)="endEditItem(item);$event.stopPropagation()">
            <mat-icon>check</mat-icon>
          </button>
        </ng-container>
      </a>
    </ng-container>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="addItem(); $event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="edit(); $event.stopPropagation()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(); $event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer [style.margin-bottom.px]="-32"></mat-card-footer>
</mat-card>
