:host {
  position: absolute;
  cursor: pointer;
  animation: fade-in 0.3s;
}

.mat-card-title {
  margin-bottom: 1rem;
}

.mat-card-content {
  color: inherit;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
