<mat-card (click)="$event.stopPropagation()" (contextmenu)="showContextMenu($event)"
          (mousedown)="onMouseDown($event)"
          (mousemove)="onMouseMove($event)"
          (mouseup)="onMouseUp($event)"
          [class.docked-left]="taskList.posX == 0"
          [class.docked-top]="taskList.posY == 49"
          [style.background-color]="taskList.backgroundColor"
          [style.background-image]="showRadEffect
            ? (taskList.backgroundColorGradient ? 'linear-gradient(to bottom, transparent, ' + taskList.backgroundColorGradient + '), ' : '')
              + 'radial-gradient(circle at ' + mousePosX + 'px ' + mousePosY + 'px , '
              + (taskList.backgroundColorGradient ?? 'var(--color-primary)')
              + ' 0, transparent ' + radEffectWidth + 'px' + ', transparent)'
            : taskList.backgroundColorGradient
              ? 'linear-gradient(to bottom, transparent, ' + taskList.backgroundColorGradient + ')'
              : 'none'"
          [style.color]="taskList.foregroundColor">
  <mat-card-title class="flex-container">
    {{taskList.header ?? 'Tasks'}}
  </mat-card-title>
  <mat-card-content (cdkDropListDropped)="dropItem($event)" [cdkDropListData]="taskList.items" cdkDropList>
    <ng-container *ngFor="let item of taskList.items">
      <ng-container *ngIf="item !== itemToEdit">
        <span cdkDrag class="flex-container" style="margin: 0; gap: 20px;">
          <span>
            <ng-container *ngIf="item.isSubTask">
              <button (click)="toggleSubTask(item)" class="item-button" mat-icon-button
                      matTooltip="Move to left"
                      matTooltipPosition="left" style="opacity: 0.1; margin-left: -6px">
                <mat-icon>remove</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="!item.isSubTask">
              <button (click)="toggleSubTask(item)" class="item-button" mat-icon-button
                      matTooltip="Move to right"
                      matTooltipPosition="left" style="opacity: 0.1; margin-left: -34px">
                <mat-icon>arrow_right</mat-icon>
              </button>
            </ng-container>
            <mat-checkbox (change)="dataService.cacheData()" [(ngModel)]="item.checked">
              <div [innerHTML]="stringParser.convert(item.value)"></div>
            </mat-checkbox>
            <button (click)="addItemAfter(item)" class="item-button" mat-icon-button
                    matTooltip="Add task"
                    matTooltipPosition="right" style="opacity: 0.1">
              <mat-icon>add</mat-icon>
            </button>
          </span>
          <span>
            <button (click)="startEditItem(item)" class="item-button"
                    mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteItem(item)" class="item-button" mat-icon-button
                    style="margin-right: -8px">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </span>
      </ng-container>
      <ng-container *ngIf="item === itemToEdit">
        <span class="flex-container" style="margin: 0">
          <span style="display: contents">
            <ng-container *ngIf="item.isSubTask">
              <button (click)="toggleSubTask(item)" class="item-button" mat-icon-button
                      matTooltip="Move to left"
                      matTooltipPosition="left" style="opacity: 0.1; margin-left: -6px">
                <mat-icon>remove</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="!item.isSubTask">
              <button (click)="toggleSubTask(item)" class="item-button" mat-icon-button
                      matTooltip="Move to right"
                      matTooltipPosition="left" style="opacity: 0.1; margin-left: -34px">
                <mat-icon>arrow_right</mat-icon>
              </button>
            </ng-container>
            <mat-checkbox (change)="markAsChecked(item)" [checked]="item.checked">
            </mat-checkbox>
            <input (keydown)="onKeyPressed($event, item)" (mousedown)="$event.stopPropagation()"
                   [(ngModel)]="item.value" customAutofocus>
          </span>
          <button (click)="endEditItem(item)" class="item-button animated" mat-icon-button
                  style="margin-right: -8px">
            <mat-icon>check</mat-icon>
          </button>
        </span>
      </ng-container>
    </ng-container>
  </mat-card-content>
  <mat-card-actions align="end">
    <button (click)="addItem()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="edit()" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="delete(); $event.stopPropagation()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="showContextMenu($event)" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer [style.margin-bottom.px]="-32"></mat-card-footer>
</mat-card>

<div [matMenuTriggerFor]="contextMenu"
     [style.left.px]="rightClickPosX"
     [style.top.px]="rightClickPosY"
     style="visibility: hidden; position: fixed">
</div>
<mat-menu #contextMenu="matMenu">
  <div [style.background]="taskList.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + taskList.backgroundColor + ', ' + taskList.backgroundColorGradient
            : taskList.backgroundColor"
       [style.color]="taskList.foregroundColor">
    <ng-container *ngIf="!dataService.selectedItemsCount">
      <button (click)="dataService.bringToFront(this.taskList)" mat-menu-item>
        <mat-icon>flip_to_front</mat-icon>
        Bring to front
      </button>
      <button (click)="dataService.bringForward(this.taskList)" mat-menu-item>
        <mat-icon>add_circle_outline</mat-icon>
        Bring forward
      </button>
      <button (click)="dataService.sendBackward(this.taskList)" mat-menu-item>
        <mat-icon>remove_circle_outline</mat-icon>
        Send backward
      </button>
      <button (click)="dataService.flipToBack(this.taskList)" mat-menu-item>
        <mat-icon>flip_to_back</mat-icon>
        Send to back
      </button>
      <ng-container *ngIf="dataService.tabs.length > 1">
        <button [matMenuTriggerFor]="tabs" mat-menu-item>
          <mat-icon>drive_file_move</mat-icon>
          Move
        </button>
      </ng-container>
      <ng-container *ngIf="dataService.getColorizedObjects(taskList).length > 1">
        <button [matMenuTriggerFor]="items" mat-menu-item>
          <mat-icon>colorize</mat-icon>
          Copy color from
        </button>
      </ng-container>
      <ng-container *ngIf="dataService.getColorizedObjects(taskList).length == 1">
        <button (click)="copyColorFrom(dataService.getColorizedObjects(taskList)[0])" mat-menu-item>
          <mat-icon>colorize</mat-icon>
          Copy other color
        </button>
      </ng-container>
      <button (click)="addItem()" mat-menu-item>
        <mat-icon>add</mat-icon>
        Add item
      </button>
    </ng-container>
    <button (click)="select()" mat-menu-item>
      <mat-icon>{{taskList.selected ? 'close' : 'check'}}</mat-icon>
      {{taskList.selected ? 'Remove selection' : 'Select'}}
    </button>
    <ng-container *ngIf="!dataService.selectedItemsCount">
      <button (click)="edit()" mat-menu-item>
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button (click)="delete()" mat-menu-item>
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #tabs="matMenu">
  <div [style.background]="taskList.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + taskList.backgroundColor + ', ' + taskList.backgroundColorGradient
            : taskList.backgroundColor"
       [style.color]="taskList.foregroundColor">
    <ng-container *ngFor="let tab of dataService.tabs">
      <button (click)="moveToTab(tab.index)" *ngIf="dataService.selectedTabIndex != tab.index" mat-menu-item>
        {{tab.label ? tab.label : '#Board ' + (tab.index + 1)}}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #items="matMenu">
  <ng-container *ngFor="let item of dataService.getColorizedObjects(taskList)">
    <button (click)="copyColorFrom(item)" *ngIf="taskList !== item" [style.background]="item.backgroundColorGradient
                ? 'linear-gradient(to bottom, ' + item.backgroundColor + ', ' + item.backgroundColorGradient
                : item.backgroundColor"
            [style.color]="item.foregroundColor"
            mat-menu-item>
      <mat-icon>color_lens</mat-icon>
      <ng-container *ngIf="!item.backgroundColorGradient">
        {{item.backgroundColor}}
      </ng-container>
      <ng-container *ngIf="item.backgroundColorGradient">
        {{ item.backgroundColor + ' → ' + item.backgroundColorGradient }}
      </ng-container>
    </button>
  </ng-container>
</mat-menu>
