.mat-card-content {
  color: inherit;
}

.item-button {
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}

.with-grow-animation {
  animation: grow-animation .4s;
}

@keyframes grow-animation {
  30% {
    transform: scale(1.3);
  }
}

input {
  font-family: var(--font-family);
  background: #ffffff30;
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 6px;
  outline: none;
  font-size: 14px;
  width: 100%;
  animation: input-animation .2s;
}

@keyframes input-animation {
  0% {
    background: transparent;
    transform: translateX(-3px);
  }
  10% {
    transform: translateX(-2px);
  }
}

/******************************************
  Drag and drop animations and templates
******************************************/
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating,
.cdk-drop-list-dragging .task-list-item:not(.cdk-drag-placeholder) {
  transition: var(--drag-drop-transition);
}
