<mat-card (click)="$event.stopPropagation()" (contextmenu)="showContextMenu($event)"
          (mousedown)="onMouseDown($event)"
          (mousemove)="onMouseMove()"
          (mouseup)="onMouseUp($event)"
          [class.docked-left]="note.posX === 0"
          [class.docked-top]="note.posY === 49"
          [matRippleDisabled]="rippleDisabled"
          [style.background-color]="note.backgroundColor"
          [style.color]="note.foregroundColor" matRipple
          [highlightColor]="note.backgroundColorGradient"
          [highlightedItem]="note">
  <mat-card-title *ngIf="note.header" class="flex-container">
    {{ note.header }}
  </mat-card-title>
  <mat-card-content *ngIf="!note.code">
    <markdown [data]="note.content">
    </markdown>
  </mat-card-content>
  <mat-card-content *ngIf="note.code">
    <pre *ngIf="note.content" class="note-code-content">
      <code #code [highlight]="note.content" style="padding: 0; margin: -22px 0 -42px 0"></code>
    </pre>
  </mat-card-content>
  <mat-card-actions align="end">
    <button (click)="toggleCodeView($event, true)" (mousedown)="rippleDisabled=true"
            mat-icon-button>
      <mat-icon *ngIf="!note.code">code</mat-icon>
      <mat-icon *ngIf="note.code">code_off</mat-icon>
    </button>
    <button (click)="edit($event, true)" (mousedown)="rippleDisabled=true"
            mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="delete($event)" (mousedown)="rippleDisabled=true"
            mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="showContextMenu($event)" (mousedown)="rippleDisabled=true"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer [style.margin-bottom.px]="-32"></mat-card-footer>
</mat-card>

<div [matMenuTriggerFor]="contextMenu"
     [style.left.px]="rightClickPosX"
     [style.top.px]="rightClickPosY"
     style="visibility: hidden; position: fixed">
</div>
<mat-menu #contextMenu="matMenu">
  <div [style.background]="note.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + note.backgroundColor + ', ' + note.backgroundColorGradient
            : note.backgroundColor"
       [style.color]="note.foregroundColor">
    <ng-container *ngIf="!dataService.selectedItemsCount">
      <button (click)="dataService.bringToFront(this.note)" mat-menu-item>
        <mat-icon>flip_to_front</mat-icon>
        {{ 'DRAGGABLE.BRING_TO_FRONT' | translate }}
      </button>
      <button (click)="dataService.bringForward(this.note)" mat-menu-item>
        <mat-icon>add_circle_outline</mat-icon>
        {{ 'DRAGGABLE.BRING_FORWARD' | translate }}
      </button>
      <button (click)="dataService.sendBackward(this.note)" mat-menu-item>
        <mat-icon>remove_circle_outline</mat-icon>
        {{ 'DRAGGABLE.SEND_BACKWARD' | translate }}
      </button>
      <button (click)="dataService.flipToBack(this.note)" mat-menu-item>
        <mat-icon>flip_to_back</mat-icon>
        {{ 'DRAGGABLE.SEND_TO_BACK' | translate }}
      </button>
      <ng-container *ngIf="dataService.tabs.length > 1">
        <button [matMenuTriggerFor]="tabs" mat-menu-item>
          <mat-icon>drive_file_move</mat-icon>
          {{ 'DRAGGABLE.MOVE' | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="dataService.getColorizedObjects(note).length > 1">
        <button [matMenuTriggerFor]="items" mat-menu-item>
          <mat-icon>colorize</mat-icon>
          {{ 'DRAGGABLE.COPY_COLOR_FROM' | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="dataService.getColorizedObjects(note).length === 1">
        <button (click)="copyColorFrom(dataService.getColorizedObjects(note)[0])" mat-menu-item>
          <mat-icon>colorize</mat-icon>
          {{ 'DRAGGABLE.COPY_OTHER_COLOR' | translate }}
        </button>
      </ng-container>
      <button (click)="toggleCodeView($event)" (mousedown)="rippleDisabled=true"
              mat-menu-item>
        <ng-container *ngIf="!note.code">
          <mat-icon>code</mat-icon>
          {{ 'NOTE.ENABLE_CODE_HIGHLIGHTING' | translate }}
        </ng-container>
        <ng-container *ngIf="note.code">
          <mat-icon>code_off</mat-icon>
          {{ 'NOTE.DISABLE_CODE_HIGHLIGHTING' | translate }}
        </ng-container>
      </button>
      <button (click)="copy()" mat-menu-item>
        <mat-icon>content_copy</mat-icon>
        {{ 'NOTE.COPY_VALUE' | translate }}
      </button>
    </ng-container>
    <button *ngIf="!note.selected" (click)="select()" mat-menu-item>
      <mat-icon>check</mat-icon>
      {{ 'DRAGGABLE.SELECT' | translate }}
    </button>
    <button *ngIf="note.selected" (click)="select()" mat-menu-item>
      <mat-icon>close</mat-icon>
      {{ 'DRAGGABLE.REMOVE_SELECTION' | translate }}
    </button>
    <ng-container *ngIf="!dataService.selectedItemsCount">
      <button (click)="edit($event)" mat-menu-item>
        <mat-icon>edit</mat-icon>
        {{ 'DRAGGABLE.EDIT' | translate }}
      </button>
      <button (click)="delete($event)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        {{ 'DRAGGABLE.DELETE' | translate }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #tabs="matMenu">
  <div [style.background]="note.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + note.backgroundColor + ', ' + note.backgroundColorGradient
            : note.backgroundColor"
       [style.color]="note.foregroundColor">
    <ng-container *ngFor="let tab of dataService.tabs">
      <button (click)="moveToTab(tab.index)" *ngIf="dataService.selectedTabIndex !== tab.index" mat-menu-item>
        {{ tab.label ? tab.label : '#Board ' + (tab.index + 1) }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #items="matMenu">
  <ng-container *ngFor="let item of dataService.getColorizedObjects(note)">
    <button (click)="copyColorFrom(item)" *ngIf="note !== item" [style.background]="item.backgroundColorGradient
                ? 'linear-gradient(to bottom, ' + item.backgroundColor + ', ' + item.backgroundColorGradient
                : item.backgroundColor"
            [style.color]="item.foregroundColor"
            mat-menu-item>
      <mat-icon>color_lens</mat-icon>
      <ng-container *ngIf="!item.backgroundColorGradient">
        {{ item.backgroundColor }}
      </ng-container>
      <ng-container *ngIf="item.backgroundColorGradient">
        {{ item.backgroundColor + ' → ' + item.backgroundColorGradient }}
      </ng-container>
    </button>
  </ng-container>
</mat-menu>
