<mat-card matRipple
          [matRippleDisabled]="disabled"
          (click)="click($event)"
          (auxclick)="click($event)"
          [style.color]="note.foregroundColor"
          [style.background]="note.backgroundColorGradient
            ? 'linear-gradient(to bottom, ' + note.backgroundColor + ', ' + note.backgroundColorGradient
            : note.backgroundColor">
  <mat-card-title class="flex-container">
    {{note.header ?? 'Note'}}
  </mat-card-title>
  <mat-card-content>{{note.content}}</mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="edit(); $event.stopPropagation()"
            (mousedown)="disabled=true"
            (mouseup)="disabled=false">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(); $event.stopPropagation()"
            (mousedown)="disabled=true"
            (mouseup)="disabled=false">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer [style.margin-bottom.px]="-32"></mat-card-footer>
</mat-card>
