<div
  [style.background]="'linear-gradient(to bottom, transparent, #131313), radial-gradient(' + data.color + ', #131313)'"
  [style.padding.px]="16">
  <h1 cdkDrag cdkDragHandle
      cdkDragRootElement=".cdk-overlay-pane" class="flex-container"
      mat-dialog-title>
    <span class="flex-container">
      <span>{{ 'EDIT_TAB' | translate }}</span>
    </span>
    <a>
      <mat-icon (click)="data.color = green" [style.color]="green" class="color-button" matTooltipPosition="above"
                [matTooltip]="'SET_COLOR_TO' | translate : { color: green }"
                [attr.aria-label]="'SET_COLOR_TO' | translate : { color: green }">
        color_lens
      </mat-icon>
      <mat-icon (click)="data.color = purple" [style.color]="purple" class="color-button" matTooltipPosition="above"
                [matTooltip]="'SET_COLOR_TO' | translate : { color: purple }"
                [attr.aria-label]="'SET_COLOR_TO' | translate : { color: purple }">
        color_lens
      </mat-icon>
      <mat-icon (click)="data.color = reset" [style.color]="reset" class="color-button" matTooltipPosition="above"
                [matTooltip]="'RESET_COLOR' | translate"
                [attr.aria-label]="'RESET_COLOR' | translate">
        format_color_reset
      </mat-icon>
      <input [(ngModel)]="data.color" type="color"
             [matTooltip]="(data.color !== '#131313' ? 'EDIT_BACKGROUND_COLOR' : 'ADD_BACKGROUND_COLOR') | translate"
             matTooltipPosition="above" style="margin: 0 5px">
    </a>
  </h1>
  <div mat-dialog-content style="margin: 0; padding: 0">
    <mat-form-field color="accent" [style.width]="'100%'">
      <mat-label>{{ 'HEADER' | translate }}</mat-label>
      <input cdkFocusInitial [(ngModel)]="data.label" matInput>
    </mat-form-field>

    <div class="flex-container">
      <mat-form-field color="accent" [style.width]="'100%'">
        <mat-label>{{ 'NOTES' | translate }}</mat-label>
        <input [value]="notesCount" disabled matInput type="number">
        <mat-icon matSuffix>note</mat-icon>
      </mat-form-field>
      <button (click)="deleteNotes()" mat-flat-button
              style="height: 53px; transform: translateY(-9px); background: transparent"
              [attr.aria-label]="'DELETE' | translate">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <div class="flex-container">
      <mat-form-field color="accent" [style.width]="'100%'">
        <mat-label>{{ 'NOTE_LISTS' | translate }}</mat-label>
        <input [value]="noteListsCount" disabled matInput type="number">
        <mat-icon matSuffix>sticky_note_2</mat-icon>
      </mat-form-field>
      <button (click)="deleteNoteLists()" mat-flat-button
              style="height: 53px; transform: translateY(-9px); background: transparent"
              [attr.aria-label]="'DELETE' | translate">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <div class="flex-container">
      <mat-form-field color="accent" [style.width]="'100%'">
        <mat-label>{{ 'TASK_LISTS' | translate }}</mat-label>
        <input [value]="taskListsCount" disabled matInput type="number">
        <mat-icon matSuffix>list</mat-icon>
      </mat-form-field>
      <button (click)="deleteTaskLists()" mat-flat-button
              style="height: 53px; transform: translateY(-9px); background: transparent"
              [attr.aria-label]="'DELETE' | translate">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <div class="flex-container">
      <mat-form-field color="accent" [style.width]="'100%'">
        <mat-label>{{ 'IMAGES' | translate }}</mat-label>
        <input [value]="imagesCount" disabled matInput type="number">
        <mat-icon matSuffix>image</mat-icon>
      </mat-form-field>
      <button (click)="deleteImages()" mat-flat-button
              style="height: 53px; transform: translateY(-9px); background: transparent"
              [attr.aria-label]="'DELETE' | translate">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <div class="flex-container" style="padding: 8px">
      <button (click)="moveToLeft()" [disabled]="dataService.selectedTabIndex < 1"
              mat-icon-button [attr.aria-label]="'MOVE' | translate">
        <mat-icon>chevron_left</mat-icon>
      </button>
      {{ 'TAB_INDEX_I' | translate : { i: dataService.selectedTabIndex } }}
      <button (click)="moveToRight()" [disabled]="dataService.selectedTabIndex >= dataService.tabs.length - 1"
              mat-icon-button [attr.aria-label]="'MOVE' | translate">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="dialog-button-group">
    <button mat-button (click)="cancel()">{{ 'CANCEL' | translate }}</button>
    <button mat-button (click)="submit()" class="ok-button">{{ 'OK' | translate }}</button>
  </div>
</div>
